body{
  margin:0;
  box-sizing: border-box;
  background-color:#b6cbef;
}
.navbar-brand{
margin-left: 20px;
}
a.nav-link{
  margin-right: 20px;
    padding: 0;
 }
 #que1{
   width:100%;
   height:420px;
}
#que2{
  margin-top: 70px;
  width:100%;
  height:270px;
}
#que8{
  width:100%;
  height:420px;
}

.heading1{
font-family: 'Poppins', sans-serif;
margin:60px 0 40px 100px;
color:#3d4e6c;
font-size: 44px;
}
.heading2
{
  /* float: right; */
font-family: 'Poppins', sans-serif;
margin:100px 0 40px 100px;
color:#3d4e6c;
font-size: 44px;
}
.heading3
{
  display:block;
font-family: 'Poppins', sans-serif;
margin:25px 0 40px 90px;
color:#3d4e6c;
font-size: 44px;
}
.heading4
{
  display:inline-block;
font-family: 'Poppins', sans-serif;
margin:25px 0 40px 90px;
color:#3d4e6c;
font-size: 44px;
}
.jaga{
  font-family: 'Poppins', sans-serif;
  color:#3d4e6c;
  text-align: center;
  margin-top: 40px;
}
.jagaa{
    font-family: 'Poppins', sans-serif;
      color:grey;
      text-align: center;
      font-size: 18px;
      margin: 20px auto ;
      width: 270px;
}
.jagaa:hover{
  color: #3d4e6c;
}
.para1{
  height: 240px;
  width: 800px;
}
.para2{
  height: 200px;
  width: 1200px;
}
.para3{
width: 90%;
}
span{
color: black;
  font-weight: 900;
}
.headingp{
  font-family: 'Montserrat', sans-serif;
margin: 20px 0 20px 100px;
font-weight: bold;
font-size: 19px;
color:#3d485b;
}
.headingpp{
    font-family: 'Montserrat', sans-serif;
    margin: 20px 20px 20px 100px;
    color:#3d485b;
    font-weight: bold;
    font-size: 19px;
}
.img1{
  float: right;
  position: relative;
  bottom: 235px;
  width:33%;
  margin: 0 100px 0 0;
}
.img2{
  float: left;
  position: relative;
  top: 20px;
  left: 100px;
  width:33%;
  margin: 0 92px 0 0;
  opacity: 0.95;
}
.img3{
  float: right;
  position: relative;
  bottom: 240px;
  width:33%;
  margin: 0 100px 0 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#3d4e6c;


}
/* Navbar container */
.n1 {
  overflow: hidden;
  background-color: transparent;
  font-family: sans-serif;
}

.n1 a {
  float: left;
  font-size: 16px;
  color: transparent;
  text-align: center;
  padding: 0 16px 0 0;
  text-decoration: none;
}

.drop1 .dropdownbtn {
  border: none;
  outline: none;
color: #a2aab9;
  background-color: inherit;
}

.drop1-content {
  display: none;
  position: absolute;
  top:42px;
  width: 90%;
margin: 0 80px;
left:900px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.drop1:hover .drop1-content {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #d1ddf1;
  height: 550px;
    border-radius: 10px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: #3d4e6c;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  background-color:rgba(0,0,0,0.07) ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#que4{
  /* margin-top: 70px; */
  width:100%;
  height:470px;
  display: flex;
  /* flex-grow: 1; */
  justify-content:space-around;
}
.contain{
  background-color: #d1ddf1;
  border-radius: 20px;
  width: 300px;
  height: 360px;
box-shadow: 15px 15px 30px grey;
}
#que6{
  margin-top: -40px;
  width:100%;
  height:470px;
  display: flex;
  /* flex-grow: 1; */
  justify-content:space-around;
}
.containn{
  background-color: #d1ddf1;
  border-radius: 20px;
  width: 500px;
  height: 350px;
  /* display: flex; */
  /* justify-content: center; */
}
.gaming{
  width: 25%;
  margin:6px 37%;
}
.pa{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 18px 0 15px;
  color:#3d485b;
  font-weight: bold;
  font-size: 16px;
}

#footer{
  padding: 7% 15%;
  text-align: center;
  margin-left: 300px;
}
.social-icon{
  margin: 20px 10px;
}
